<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Add Person</title>
    <link href="~/css/stylecss.css" rel="stylesheet" />
</head>
<body>
    <div class="brd">
        <form action="~/Person/GetDataFromViewField" method="post">
            <label>First Name</label><br />
            <input type="text" name="firstName" value="Don" /><br />

            <label>Second Name</label><br />
            <input type="text" name="secondName" value="Juan" /><br />

            <label>Paternal Name</label><br />
            <input type="text" name="paternalName" value="Matus" /><br />

            <label>PhoneNumber</label><br />
            <input type="text" name="phoneNumber" value="000" /><br />

            <label>Address</label><br />
            <input type="text" name="address" value="000" /><br />

            <label>Description</label><br />
            <input type="text" name="description" value="000" /><br />

            <p><input type="submit" value="Submit" /></p>
        </form>
    </div>
    <hr />
</body>
</html>